html,body{
    padding: 0;
    margin:0;

    height: 100%;
    overflow: hidden;
}



#app{
    display: flex;
    flex-direction: column;
    height: 100%;

}

/* header style */
#app>.header{
    flex:0 0 80px;
    max-height: 80px;
    display: flex;
    flex-direction: column;

    /* for test */
    background-color: rgb(2, 0, 22);
}

#app>.header>.title{
    flex:2 2 40px;
    min-width: 0;

    padding: 5px 2%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color:rgb(0, 0, 0);
    border-bottom: 1px rgb(3, 43, 40) solid;

}
#app>.header>.navigation{
    flex:2 2 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    background-color:rgb(0, 0, 0);
    border-bottom: 1px rgb(3, 43, 40) solid;
}


#app>.header>.title>.title-content{
    font-size: large;
    word-spacing: 7px;
    font-weight: bolder;
    color:rgb(247, 247, 247);
    /* background-color: cornflowerblue; */
}
#app>.header>.title>.userinfo{
    display: flex;
    align-items: center;
}

#app>.header>.title>.userinfo>.username{
    /* background-color: darkorange; */
    margin-right: 8px;
    font-size: small;
    color:rgb(255, 255, 255);
}

#app>.header>.title>.userinfo>.useravatar image{
    clip-path: circle(50%);
    /* clip-path: url(#circleclippath); */

}




/* body style */
#app>.body{
    flex:1 0 600px;
    display: flex;
    
    /* for test */
    background-color: aqua;
}

/**
*  lbar
*/
#app>.body>.lbar{
    padding:20px 0;
    flex:0 0 50px;
    display:flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(0, 0, 0);
    border-right: 1px rgb(3, 43, 40) solid;
}
#app>.body>.lbar>div{
    margin-bottom: 20px;
    cursor: pointer;

}

/**
*  ldrawer
*/
#app>.body>.ldrawer{
    min-width: 0;
    flex: 0 1 250px;
    overflow-x: visible;

    /* animation: drawin 3s ; */
    background-color: rgb(0, 0, 0)9, 19, 2);
}

 

/**
*  graph-canvas
*/
#app>.body>.graph-canvas{
    flex: 1 1 auto;
    background-color: rgb(250, 250, 250);
}

/**
*  rdrawer
*/
#app>.body>.rdrawer{
    min-width:0;
    flex: 0 1 250px;

    /* animation: drawin 3s ; */

    background-color: rgb(0, 0, 0) ;
}

/**
*  rbar
*/
#app>.body>.rbar{
    flex:0 0 50px;
    background-color: rgb(31, 24, 124);
}


/** csstag contextmenu style*/
.menu-wrap{
    z-index: 2000;
    background-color: rgba(255, 153, 1, 0.651);
    color: aliceblue;
}
.menu-item{
    cursor: pointer;
    padding:5px;
    margin:3px;
    font-size: small;
}
.menu-item:hover{
    /* background-color: rgb(234, 238, 18); */
    /* opacity: 1; */
    border:1px solid rgba(141, 59, 5, 0.979);

}
